<%= stylesheet_link_tag 'top', :media => "all" %>




<section class="hero">
  <div class="video-box">
		<div class="btn6-box">
			<%= link_to "", new_user_session_path, class: 'btn6-3' %><div class="gogo">GO! <br>bubble</div>
		</div>
			<%= video_tag "/assets/videos/Stars.mp4", poster="Starspic.png", playsinline: true, autoplay: true, loop: true, muted: true, width: "320", height: "240", class: "video" %>
 </div>

		<div class="text-box">
			<p class="top-ms">STAY<br>
			　　　　bubbles</p>
		</div>

		<div class="text-box2">
			<div class="top-ms2">
				<span>
					우리는 너를 향해 빛나는 별 <br>
					　너라는 햇살이 비춰주는 별
				</span>
			</div>
		</div>

		<script>
			const CLASSNAME = "-visible";
			const TIMEOUT = 480;
			const DELAY = 100;
			const $target1 = $(".text-box2");

			setInterval(() => {
				$target1.addClass(CLASSNAME);
				setTimeout(() => {
					$target2.addClass(CLASSNAME);
				}, DELAY);
			}, TIMEOUT * 2);
		</script>
</section>