/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 html {
	font-family: 'Murecho', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
	
}

body {

	margin-top: 0px;
	margin-left: 0px;
	background: linear-gradient(252deg,  #ff89acdc,#a797f0, #ffbce5, #b8b0ff, #e7bdf7d7 );
	background-size: 1000% 1000%;
	min-height: 800px;
	-webkit-animation: bubble-back 15s ease infinite;
	-moz-animation: bubble-back 15s ease infinite;
	animation: bubble-back 15s ease infinite;
}

@-webkit-keyframes bubble-back {
	0%{background-position:0% 20%}
	50%{background-position:100% 81%}
	100%{background-position:0% 20%}
}
@-moz-keyframes bubble-back {
	0%{background-position:0% 20%}
	50%{background-position:100% 81%}
	100%{background-position:0% 20%}
}
@keyframes bubble-back {
	0%{background-position:0% 20%}
	50%{background-position:100% 81%}
	100%{background-position:0% 20%}
}

 .site-header{
	background-color: rgb(255, 255, 255);
	font-family: 'Murecho', sans-serif;
	text-decoration: none;
	width: 100%;
	color:  rgb(255, 255, 255);
	padding: 0px;
	position: fixed;
	top: 0;
	transition: .5s;
	width: 100%;
	z-index: 999;
	box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.5);
}

.site-header.hide {
	transform: translateY(-100%);
}

.gnav__menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 2px;
	margin: 0;
}

.gnav__menu flex flex--bet {
	margin-left: 0px;
}
	
.gnav__menu__item__link {
	font-family: 'Murecho', sans-serif;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 15px;
	color:  rgb(0, 0, 0);
}

.gnav__menu__item__link:hover {
	font-family: 'Murecho', sans-serif;
	text-decoration: none;
	color:  rgb(0, 0, 0);
}

.gnav__menu__logo {
	font-family: 'Shrikhand', cursive;
	text-decoration: none;
	color:  rgb(0, 0, 0);
	font-size: 37px;
}

.gnav__menu__logo:hover {
	font-family: 'Shrikhand', cursive;
	text-decoration: none;
	color:  rgb(0, 0, 0);
}

.right-box {
 display: flex;
font-size: 18px;
width: 750px;
padding-top: 20px;
padding-right: 40px;
height: 50px;
justify-content: space-around;
}

.left-box {
	padding-top: 10px;
	margin-left: 30px;
	
		display: inline-block;
		background: linear-gradient(90deg,  #b8b0ff, #ad58fdc1, #c584f0 30%, #ff41a6aa, #b8b0ff);
		background: -webkit-linear-gradient(0deg, #b8b0ff, #ad58fdc1, #c584f0 30%, #ff41a6aa);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

}