.bubble {
		
		margin-left: auto;
		margin-right: auto;
		margin-top: 130px;
		/* // position: absolute; */
		padding-top: 0px;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 100px;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #F9F9F9;
		width: 1000px;
		height:420px;
		border-radius: 3px;
		box-shadow: 0 3px 36px 0 rgba(0, 0, 0, 0.6);
		overflow: hidden;
		transition: 0.3s;
	}
	.bubble.hidden {
		visibility: hidden;
		opacity: 0;
		transform: translateY(-100px);
	}
.mid-bubble {
	display: flex;
	
	justify-content: space-around;
}


	.in-bubble {
		display: flex;
		width: 380px;
		flex-direction: column;
	}
	.showwho {
		display: flex;
		justify-content: space-between;
		margin-top: 35px;
		margin-bottom: 30px;
		height: 30px;
	}
.in-showwho	{
	display: flex;
	height: 30px;
}

	.showicon {
		font-size: 20px;
		font-weight: bold;
		padding-top: 10px;
	}
.created-at {
	padding-right: 50px;
}

	.showtitle {
		font-weight: bold;
		font-size: 17px;
		text-align: center;
		border-bottom: 1px solid rgba(215, 175, 231, 0.945);
	}

.show-pic {
	width: 400px;
	height: 400px;
	object-fit: contain;
}

.showtop {
	width: 360px;
    height: 50px;
		margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: rgba(215, 175, 231, 0.945);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 45px;
    text-align: center;

}
