// Place all the styles related to the folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.folder-bg {
	background: linear-gradient(252deg,  #ff89acdc,#ffffff, #efdbf7, #b8b0ff, #f0c7ffd7 );
	background-size: 1000% 1000%;
	min-height: 800px;
	-webkit-animation: bubble-back 20s ease infinite;
	-moz-animation: bubble-back 20s ease infinite;
	animation: bubble-back 20s ease infinite;
}

@-webkit-keyframes bubble-back {
	0%{background-position:0% 20%}
	50%{background-position:100% 81%}
	100%{background-position:0% 20%}
}
@-moz-keyframes bubble-back {
	0%{background-position:0% 20%}
	50%{background-position:100% 81%}
	100%{background-position:0% 20%}
}
@keyframes bubble-back {
	0%{background-position:0% 20%}
	50%{background-position:100% 81%}
	100%{background-position:0% 20%}
}

.post-bg {
	background: linear-gradient(252deg,  #ff89acdc,#ffffff, #efdbf7, #b8b0ff, #f0c7ffd7 );
	background-size: 1000% 1000%;
	min-height: 800px;
	-webkit-animation: bubble-back 20s ease infinite;
	-moz-animation: bubble-back 20s ease infinite;
	animation: bubble-back 20s ease infinite;
}

@-webkit-keyframes bubble-back {
	0%{background-position:0% 20%}
	50%{background-position:100% 81%}
	100%{background-position:0% 20%}
}
@-moz-keyframes bubble-back {
	0%{background-position:0% 20%}
	50%{background-position:100% 81%}
	100%{background-position:0% 20%}
}
@keyframes bubble-back {
	0%{background-position:0% 20%}
	50%{background-position:100% 81%}
	100%{background-position:0% 20%}
}
.folderindex-bg {
	background: linear-gradient(252deg,  #ff89acdc,#ffffff, #efdbf7, #b8b0ff, #f0c7ffd7 );
	background-size: 1000% 1000%;
	min-height: 800px;
	-webkit-animation: bubble-back 20s ease infinite;
	-moz-animation: bubble-back 20s ease infinite;
	animation: bubble-back 20s ease infinite;
}

@-webkit-keyframes bubble-back {
	0%{background-position:0% 20%}
	50%{background-position:100% 81%}
	100%{background-position:0% 20%}
}
@-moz-keyframes bubble-back {
	0%{background-position:0% 20%}
	50%{background-position:100% 81%}
	100%{background-position:0% 20%}
}
@keyframes bubble-back {
	0%{background-position:0% 20%}
	50%{background-position:100% 81%}
	100%{background-position:0% 20%}
}

.folder-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	width: 90%;
	flex-wrap: wrap;
	display: flex;
	
	align-items: top;

}

.foldername {
	width: 200px;
	text-align: center;
}

.folder-container .folder {
	width: 250px;
	height: 150px;
	background-image: image-url("folder.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-top:10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 2px;
	padding-top: 50px;
	display: flex;
	justify-content: center;
}


.btn2-box {
	text-align: right;
	padding-right: 25px;
}

.btn2 {
  display: inline-block;
  background-color: rgba(215, 175, 231, 0.945);
 width: 30px;
 height: 30px;
  padding: 10px;
  text-decoration: none;
  border-radius: 50%;
	border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-tap-highlight-color: transparent;
  transition: .3s ease-out;
	text-align: center;
	display: table-cell;
  vertical-align: middle;
}
.btn2:hover{
	 cursor: pointer;
	 text-decoration: none;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.12), 0 3px 20px 0 rgba(0,0,0,0.12), 0 5px 6px -2px rgba(0,0,0,0.2);
}


.createfolder {
	border: none;
	width: 150px;
	height: 150px;
	object-fit: contain;
}


.btn3 {
  display: inline-block;
  background-color: rgba(215, 175, 231, 0.945);
 width: 80px;
 height: 80px;
  padding: 10px;
  text-decoration: none;
  border-radius: 50%;
	border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-tap-highlight-color: transparent;
  transition: .3s ease-out;
	text-align: center;
	display: table-cell;
  vertical-align: middle;
	font-size: 50px;
	color: rgb(255, 255, 255);
}
.btn3:hover{
	 cursor: pointer;
	 text-decoration: none;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.12), 0 3px 20px 0 rgba(0,0,0,0.12), 0 5px 6px -2px rgba(0,0,0,0.2);
}

.btn3-box {
	width: 100px;
	height: 100px;
  float: right;
  margin-right: 5%;
	position: sticky;
	bottom: 15px;
}