






.top {
	margin: 0%;
	padding: 0%;
	position: relative;

  width: 100%;
  min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-image: url(casey-horner-JIdmuiF9luY-unsplash.jpg);
	display: flex;
	justify-content: center;
}

.info {
	display: flex;
	justify-content: center;
  flex-direction: column;
}