

.my-logo-box {
	text-align: center;
  margin-bottom: 0;
}
.my-logo {
		font-family: 'Murecho', sans-serif;
	font-size: 55px;
	margin-bottom: 0;
	margin-top: 80px;
}

.fandom {
	background-color: rgba(255, 255, 255, 0.767);
	margin-left: 7%;
	margin-right: 7%;
	margin-bottom: 1%; 
	margin-top: 2%;
	padding: 65px 100px;
  height: 30%;
	overflow: hidden;
  display: flex;
  flex-direction: row;
	justify-content: space-around;
}

.fan {
	display: flex;
  flex-direction: column;
	justify-content: center;
}

.name {
	height: 80px;
	margin-top: 20px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	background-color:#E05858;
	color:  rgb(0, 0, 0);
	border-radius: 6%;
	font-size: 50px;
	text-align: center;

}

.mypic {
	border: 5px solid #E05858;
	width:  220px;       /* ※縦横を同値に */
	height: 220px;      /* ※縦横を同値に */
    border-radius: 50%;
		overflow: hidden; 
    background-position: center center; 
		object-fit:cover;
    display: flex;
}

.love {
	display: flex;
  justify-content: space-around;
	flex-direction: column;
}

.heart {
	color: #E05858;
	font-size: 32px;

 
}

.animate__animated.animate__heartBeat {
	animation-delay: 1s;
  --animate-duration: 3s;
	animation-iteration-count: infinite;
}

.oshibi {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 50px;
	height: 50px;
	text-align: center;
	margin-bottom: 0;
}

.oshibibi {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 20px;
	text-align: center;
}

.angel {
	display: flex;
  flex-direction: column;
  justify-content: center;
}

.oshipic {
	border: 5px solid #E05858;
	width:  220px;       /* ※縦横を同値に */
	height: 220px;       /* ※縦横を同値に */
	border-radius: 50%;
	overflow: hidden; 
	background-position: center center; 
	object-fit:cover;
	display: flex;
}

.oshi {
	height: 80px;
	margin-top: 20px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	background-color: #E05858;
	color:  rgba(255, 255, 255, 0.89);
	font-size: 50px;
	text-align: center;
	border-radius: 6%;
}

.mypro {
	font-family: 'Murecho', sans-serif;
	padding: 17px 25px;
	background-color: rgba(255, 255, 255, 0.767);
	width: 49.5%;
	margin-right: 0.5%;
}
.mypro2 {
	padding: 0%;
	margin: 0%;
}

.oshipro2 {
	padding: 0%;
	margin: 0%;
}
.oshipro {
	font-family: 'Murecho', sans-serif;
	background-color: rgba(255, 255, 255, 0.767);
	padding: 17px 25px;
	width: 49.5%;
	margin-left: 0.5%;
}

.profiles-box {
	padding-left: 7%;
	padding-right: 7%;
}
.profiles {
	display: flex;

}

.btn4-box {
	position: relative;
 
  background-color:rgba(255, 255, 255, 0.767);
  width: 55px;
	height: 50px;
  padding-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
  text-decoration: none;
  border-radius: 50%;
	border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-tap-highlight-color: transparent;
  transition: .3s ease-out;
  text-align: center;
	float: right;
	
}

.btn4-box a {
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
}

.btn4-box a:hover {
	cursor: pointer;
	text-decoration: none;
	 box-shadow: 0 5px 10px 0 rgba(0,0,0,0.12), 0 3px 20px 0 rgba(0,0,0,0.12), 0 5px 6px -2px rgba(0,0,0,0.2);
	 border-radius: 50px;
}

.my-b {
	margin-left: 5%;
}

